/* IE6 fix */
.nav li li a {width:100%;}
#shop {margin-bottom:0;}
#shop .float-right {margin-right:3px;}
.nav li ul {margin-top:-4px; width:160px;}
#navbar ul {clear:both;}
#navbar li {width:210px; float:left; display:block; clear:left;}