/* -- Mr Site Std Template -- */
/* -- me117 ----*/
#navbar ul {margin:0; padding:0;}
#navbar {width:100%;}
#navbar li a {text-decoration: none; display: block; padding:8px 0 0 10px;}	
#navbar li a:link, #navbar li a:visited {display: block;}
#navbar li a span {display:block;}
#navbar li ul li, #navbar li ul, #navbar li ul li a {border:0;}
#navbar li ul li a span {margin-left:10px;}
#navbar li a, .nav li a {text-transform: none; letter-spacing:0pt; word-spacing:0pt; line-height:15px;}

#navbar {
	margin: 0 0 10px 0; 
	padding: 30px 0 40px 0;
}
		
#navbar ul {
	margin: 0; 
	padding: 0;
}


#navbar li {
	margin: 0; 
	padding: 5px 10px 5px 0;
	list-style-type: none;		
}

#navbar a {
	font-family: Lucida Grande, Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
}

/* ----== Tabatha Base ==---- */
.nav li li {margin-top:0px;}
.nav, .nav * {margin:0; padding:0; list-style:none;}
.nav li ul {margin-top:0px;}

.nav {line-height:1.0;}
.nav ul {position:absolute; top:-999em; width:119px;}
.nav ul li,
.nav a {width: 100%;}
.nav li {float:left; position:relative; z-index:99;}
.nav a {display:block;}
.nav li:hover ul, ul.nav li.sfHover ul {left:-1px; top:2.5em;}
.nav li:hover li ul, .nav li.sfHover li ul {top:-999em;}
.nav li li:hover ul, ul.nav li li.sfHover ul {left:9.45em;}
.superfish li:hover ul, .superfish li li:hover ul {top: -999em;}
.nav {float:left;}
.nav li {width:121px; text-align:center; padding: 0px; font-size: 12px;}
.nav a {padding: 8px 0 9px 0; font-size:12px;}
.nav li ul { margin-left:1px; z-index:100;}										
.nav li li { border-bottom:0; z-index:100;opacity:0.95; filter: alpha(opacity=95);}										
.nav li:hover, .nav li.sfHover, .nav a:focus, .nav a:hover, .nav a:active {z-index:1000;}			

/* ----== Mr Site Template Tabatha Styles ==---- */
#tabatha {width:850px; margin:0 auto;}
.nav li ul {border:1px solid #74bfff; background:url("../images/image.jpg");}						/* dropdown bottom border */
.nav li li {}
.nav li:hover, .nav li.sfHover, 
.nav a:focus, .nav a:hover, 
.nav a:active {background:#131e26;}							/* Top option highlight bg colour */

.nav li li:hover, .nav li li.sfHover, .nav li li:hover a, 
.nav li li.sfHover a, .nav li li a:focus, .nav li li a:hover, 
#nav li li a:active { background:url("../images/image.jpg") bottom center;}	/* IE6 second level fix for roll over */
.nav li li:hover {background:url("../images/image.jpg") bottom center;}						/* Drop Down Background Colour */

/* ----== Mr Site Link Colours ==---- */
#navbar a:link		{ color: #70BEFF; text-decoration: none; }
#navbar a:visited	{ color: #70BEFF; text-decoration: none; }
#navbar a:active	{ color: #70BEFF; text-decoration: none; }


/* ----== Mr Site Tabatha Link Colours ==---- */
.current {font-weight:bold;}

/* fix vertical menu overflow */
#navbar {overflow:hidden;}
.nav li a:link, .nav li a:visited, .nav li a:active {color:#fff; text-decoration:none;}
.nav li li a:link, .nav li li a:visited, .nav li li a:active {color:#fff; text-decoration:none;}
.nav li a:hover {color:#fff;}
.nav li li a:hover {color:#fff;}

/* ----== Updated menu styles ==---- */
.nav li li span {display:inline; padding:0px;}
span.sf-with-ul {padding:7px 15px;}
b.sf-sub-indicator {display:none;}
span.sf-sub-indicator {display:none;}

/* ----== Tabatha Uncurrent Style ==---- */
/* uncurrent */
.uncurrent1, .uncurrent2, .uncurrent3, .uncurrent4, .uncurrent5, .uncurrent6, .uncurrent7, .uncurrent8, .uncurrent9, .uncurrent10,
.uncurrent11, .uncurrent12, .uncurrent13, .uncurrent14, .uncurrent15, .uncurrent16, .uncurrent17, .uncurrent18, .uncurrent19, .uncurrent20
.uncurrent21, .uncurrent22, .uncurrent23, .uncurrent24, .uncurrent25, .uncurrent26, .uncurrent27, .uncurrent28, .uncurrent29, .uncurrent30
.uncurrent31, .uncurrent32, .uncurrent33, .uncurrent34, .uncurrent35, .uncurrent36, .uncurrent37, .uncurrent38, .uncurrent39, .uncurrent40
.uncurrent41, .uncurrent42, .uncurrent43, .uncurrent44, .uncurrent45, .uncurrent46, .uncurrent47, .uncurrent48, .uncurrent49, .uncurrent40
.uncurrent51, .uncurrent52, .uncurrent53, .uncurrent54, .uncurrent55, .uncurrent56, .uncurrent57, .uncurrent58, .uncurrent59, .uncurrent60
.uncurrent61, .uncurrent62, .uncurrent63, .uncurrent64, .uncurrent65, .uncurrent66, .uncurrent67, .uncurrent68, .uncurrent69, .uncurrent70
.uncurrent71, .uncurrent72, .uncurrent73, .uncurrent74, .uncurrent75, .uncurrent76, .uncurrent77, .uncurrent78, .uncurrent79, .uncurrent80
.uncurrent81, .uncurrent82, .uncurrent83, .uncurrent84, .uncurrent85, .uncurrent86, .uncurrent87, .uncurrent88, .uncurrent89, .uncurrent90
.uncurrent91, .uncurrent92, .uncurrent93, .uncurrent94, .uncurrent95, .uncurrent96, .uncurrent97, .uncurrent98, .uncurrent99 {font-weight:normal;}