/* ----== Mr Site Guestbook style ==---- */
#gbook_iframe 
	{ 
		margin:0; 
		padding:0; 
		height:100%; 
		min-height:300px; 
		height:auto;
	}
#gbook_wrap #gbook_iframe 
	{
		display:block; 
		width:100%; 
		border:none;
	}
#gbook 
	{
		width:100%; 
		margin:5px 0;
	}
	#gbook_name, 
	#gbook_email, 
	#gbook_msg, 
	#gbook_code1, 
	#gbook_code2, 
	#gbook_submit 
		{
			width:100%;
		}
	.gbook_col1 
		{
			float:left; 
			width:220px; 
			text-align:right; 
			padding:0 10px;
		}
	.gbook_col2 
		{
			float:left;
		}
		.gbook_col2 input, 
		.gbook_col2 textarea 
			{
				border:1px solid #999; 
				margin:0 0 2px 0; 
				width:200px;
			}
		.gbook_col2 input.post, 
		.gbook_col2 input.reset 
			{
				border:1px solid #999; 
				width:60px; 
				cursor:pointer; 
				background:#f9f9f9; 
				color:#202020;
			}
		.gbook_col2 input.post:focus, 
		.gbook_col2 input.reset:focus 
			{
				background:#f6f6f6;
			}
		.gbook_col2 img 
			{
				width:202px;
			}
		.gbook_col2 input.post, 
		.gbook_col2 input:focus, 
		.gbook_col2 input.post, 
		.gbook_col2 textarea:focus 
			{
				background-color: #f6f6f6;
			}
	#gbook, 
	.gbook_col1 p 
		{
			font-size:12px; 
			font-weight:bold; 
			padding:0; 
			margin:0;
		}
#gbook_wrap 
	{
		margin-bottom:5px;
	}
ul#gbook_div 
	{
		padding:0; 
		margin:0;
	}
#gbook_div li#post 
	{
		font-weight:normal;
		display:block;
		list-style:none; 
		padding:5px 5px 5px 5px; 
		margin:10px 0;
	}
#gbook_div .gbook-post_title 
	{
		padding-top:5px; 
		font-size:12px; 
		padding-left:30px; 
		background:url("http://www.chauncyandco.com/css/js/speech.gif") no-repeat 20px 0px;
	}
#gbook_div .gbook-post_title .float-left 
	{
		float:left;
	}
#gbook_div .gbook-post_title .float-left p 
	{
		font-weight:bold; 
		padding:0; 
		margin:0;
	}
#gbook_div .gbook-post_title .float-right p 
	{
		padding:0; 
		margin:0;
	}
#gbook_div .gbook-post_title .float-right 
	{
		float:right;
	}
#gbook_div .gbook-post_title p.small 
	{
		font-size:11px; 
		color:#202020; 
		margin-right:5px;
	}
#gbook_div .gbook-post_message 
	{
		margin-top:2px; 
		background:#dcdcdc; 
		padding:5px 10px 10px 10px; 
		font-weight:normal;
	}
#gbook_div .gbook-post_email 
	{
		font-size:11px; 
		color:#202020;
	}
/* ----== Mr Site Guestbook style ==---- */