/* ----== Mr Site Blog Style ==---- */
.post 
	{
		margin:0 0 25px 0; 
		padding:0; 
		border-width:1px 0;
	}
.link-title 
	{
		margin:0; 
		font-size:100%; 
		line-height:1.5em; 
		display:block; 
		border-width:0 1px 1px; 
		padding:2px 14px 2px 29px;
	}
.post-title 
	{
		margin:0; 
		font-size:135%; 
		line-height:1.5em; 
		background:url("images/icon_arrow.gif") no-repeat 10px .5em;
		display:block; 
		border-width:0 1px 1px; 
		padding:2px 14px 2px 29px;
	}
.post 
	{
		margin:.3em 0 25px; 
		padding:0 0px; 
		border-width:1px 0;
	}
.post-body 
	{
		border-width:0 1px 1px 1px; 
		border-bottom-color:#fff; 
		padding:10px 14px 1px 29px;
	}
html>body .post-body 
	{
		border-bottom-width:0;
	}
.post p 
	{
		margin:0 0 .75em;
	}
p.post-footer 
	{
		margin:0; 
		padding:2px 14px 2px 29px; 
		border-width:1px; 
		border-bottom:0px solid #eee; 
		font-size:100%; 
		line-height:1.5em; 
		text-align:right;
	}
html>body p.post-footer 
	{
		border-bottom-color:transparent;
	}
p.post-footer em 
	{
		display:block; 
		float:left; 
		clear:left; 
		text-align:left;  
		font-style:normal;
	}
/* ----== /Mr Site Blog Style ==---- */